* {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
  font-family: "Space Mono", sans-serif;
  background-color: #c5e4e7;
  height: 100vh;
  font-size: 24px;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  color: #00494d;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container {
  background-color: white;
  height: 100%;
  width: 400px;
  margin: auto;
  border-radius: 15px 15px 0 0;
  padding: 25px;
}

p.title,
p.error {
  text-transform: capitalize;
  font-weight: 700;
  color: #5e7a7d;
  font-size: 16px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 390px;
}

p.error {
  color: red;
  opacity: 0.6;
  font-size: 14px;
}

.common {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin: 10px 0px;
}

.common img {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  inset: 20 20 20 20px;
}

.common input {
  float: right;
  background-color: #f4fafa;
  padding: 5px;
  padding-left: 85px;
  margin-right: 20px;
  margin-top: auto;
  border: none;
  color: #00494d;
  font-size: 24px;
  text-align: right;
  font-weight: 700;
  width: 80%;
  max-width: 300px;
}

.common input:focus {
  color: #00494d;
  font-weight: 700;
  outline-color: #26c0ab;
}

.common input:focus .common {
  border: 1px #00494d solid;
}

.flex-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-column-gap: 70px;
  width: 80%;
}

.flex-container input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.flex-container label {
  display: inline-block;
  background-color: #00494d;
  width: 160px;
  height: 30px;
  font-family: sans-serif, Arial;
  font-size: 24px;
  color: white;
  text-align: center;
  border: none;
  border-radius: 4px;
  margin: 5px 0px;
}

.container label:hover {
  background-color: #c5e4e7;
  color: #00494d;
  font-weight: 700;
}

.container input[type="radio"]:checked + label {
  background-color: #26c0ab;
  color: #00494d;
  font-weight: 700;
}

label {
  padding-top: 5px;
}

.custom {
  height: 40px;
  width: 155px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  font-family: "Space Mono", sans-serif;
  border: none;
  background-color: #f4fafa;
  margin-top: 10px;
  border-radius: 4px;
}

.custom:focus {
  outline-color: #26c0ab;
  color: #00494d;
}

.number {
  margin-top: 10px;
}

.result {
  background-color: #00494d;
  border-radius: 10px;
  width: 330px;
  padding: 25px 30px;
  color: white;
}

.res-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  grid-row-gap: 20px;
}

.digits {
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  color: #26c0ab;
}

.element {
  font-size: 14px;
  font-weight: 600;
  color: #f4fafa;
}

.element .spn {
  color: #7f9c9f;
  font-size: 12px;
}

.number {
  margin-bottom: 10px;
}

button {
  height: 40px;
  width: 100%;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #26c0ab;
  color: #00494d;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

button:hover {
  background-color: #c5e4e7;
}

.btnDisabled:hover {
  background-color: #26c0ab;
}

.btnDisabled {
  opacity: 0.3;
  cursor: not-allowed;
}

@media (min-width: 700px) and (max-width: 920px) {
  body {
    padding: 40px;
  }
  .heading p {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .container {
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    padding: 30px;
  }
  p.error {
    margin-right: 130px;
  }
  .flex-container {
    width: 20%;
    margin-top: 10px;
    grid-column-gap: 10px;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .tip-box {
    max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;
  }
  .flex-container label {
    width: 80px;
    height: 30px;
    font-size: 20px;
  }
  .common input {
    width: 60%;
  }
  .custom {
    width: 80px;
    font-size: 14px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
  }
  .res-container {
    -ms-grid-row: auto;
        grid-row-start: auto;
    grid-row-gap: 10px;
    margin-top: 20px;
    font-size: 18px;
  }
  .result {
    width: auto;
    height: 280px;
  }
  .element {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .digits {
    font-size: 32px;
  }
  button {
    margin-top: 100px;
  }
  .bill {
    margin-bottom: 20px;
  }
  .select-tip {
    margin-top: 20px;
  }
  .row {
    margin-bottom: 20px;
  }
}

@media (min-width: 920px) {
  body {
    padding: 40px;
    max-width: 100%;
  }
  .heading p {
    margin-top: 50px;
    margin-bottom: 40px;
  }
  .container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    width: 776px;
    border-radius: 15px;
    margin: auto;
    padding: 30px;
  }
  p.error {
    margin-right: 70px;
  }
  .tip-box {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0px;
  }
  .flex-container {
    width: 50px;
    margin-top: 10px;
    grid-column-gap: 10px;
    -ms-grid-columns: (auto)[3];
        grid-template-columns: repeat(3, auto);
  }
  .flex-container label {
    width: 100px;
    font-size: 20px;
  }
  .common input {
    width: 60%;
  }
  .custom {
    width: 100px;
    font-size: 16px;
    margin-top: 5px;
  }
  .res-container {
    -ms-grid-row: auto;
        grid-row-start: auto;
    margin-top: 40px;
    padding-right: 20px;
    height: inherit;
    font-size: 18px;
  }
  .digits {
    font-size: 32px;
  }
  button {
    margin-top: 120px;
  }
  .bill {
    margin-bottom: 20px;
  }
  .select-tip {
    margin-top: 20px;
  }
  .row {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */